@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}

body {
  /*  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  background-color: black;
  left: auto;
  top: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(167, 188, 198, 1) 72%,
    rgba(94, 100, 117, 1) 100%
  );
}

main {
  /*   left: auto;
  top: auto; */
  /*   width: 100vw;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(167, 188, 198, 1) 72%,
    rgba(94, 100, 117, 1) 100%
  );
  /* background: #000; */
}

/* .container {
  position: fixed;
  left: auto;
  top: auto;
  width: 100vw !important;
  height: 1000px !important;
} */

#defaultCanvas0 {
  /*   width: 100vw !important; */
  height: 1000px !important;
  display: flex !important;
  align-items: center !important;
}

.p5Canvas {
  display: flex !important;
  align-items: center !important;
  height: 1000px !important;
}

.gradient {
  left: auto;
  top: auto;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 29%,
    rgba(71, 86, 107, 0.18671218487394958) 58%,
    rgba(9, 20, 41, 1) 81%
  );
  position: fixed;
  /*   z-index: 1; */
}

/* button {
    position: absolute;
    left: auto;
    top: auto;
    padding: 20px;
    color: #FFF;
    border: 15px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
} */

h2 {
  position: absolute;
  width: 1000px;
  left: auto;
  top: 50px;
  padding: 20px;
  color: rgb(217, 222, 230);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: 2px 2px 1px rgb(46, 51, 56);
}

section {
  height: 100vh;
  width: 100vw;

  /*    background: linear-gradient(
   360deg,
    rgb(185, 191, 196) 0%,
    rgb(91, 102, 107) 72%,
    rgba(94, 100, 117, 1) 100%
  ); */
  z-index: 0;
}

#start {
  display: flex;
  width: 100vw;
  background-color: rgba(9, 20, 41, 0.5);
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  outline: none;
  border: none;
}

#start span {
  background: -webkit-linear-gradient(rgb(172, 0, 0), rgb(49, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: -3px 2px 1px rgb(255, 255, 255);
}

#restart {
  display: flex;

  width: 100vw;
  background-color: rgba(9, 20, 41, 0.5);
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  position: fixed;
  outline: none;
  border: none;
}

#restartIce {
  display: flex;

  width: 100vw;
  background-color: rgba(9, 20, 41, 0.5);
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  outline: none;
  border: none;
}

#restartTime {
  display: flex;

  width: 100vw;
  background-color: rgba(9, 20, 41, 0.5);
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  outline: none;
  border: none;
}

#winning {
  display: flex;

  width: 100vw;
  background-color: rgba(9, 20, 41, 0.5);
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  outline: none;
  border: none;
}

button {
  width: 500px;
  left: auto;
  top: auto;
  padding: 20px;
  color: #fff;
  border: 15px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Amatic SC", cursive;
  transition-property: font-size;
  transition-duration: 0.5s;
  z-index: 3;
}

button:hover {
  font-size: 6em;
}

button:active {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(104, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*    color: rgb(184, 0, 0); */
  outline: none;
  border: none;
}

article {
  color: #fff;
  border: 15px;
  text-align: center;
  font-size: 2em;
}

section > div {
  display: flex;
  height: 500px;
  width: 600px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapperdiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winning .wrapperdiv div {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#winning p {
  font-size: 1.4em;
}

#restart .wrapperdiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#restartIce .wrapperdiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#restartTime .wrapperdiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#winning .wrapperdiv {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapperdiv img {
  height: 300px;
}

.wrapperdiv div p {
  text-align: center;
  color: white;
}

#start .wrapperdiv {
  height: 700px;
}

#start .wrapperdiv div {
  display: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
}

ul {
  list-style: none;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.wrapperdiv li img {
  height: 60px;
}

.jump {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.firstp {
  padding-bottom: 15px;
}

.wrapperdiv div > p {
  padding-bottom: 15px;
}

section > img {
  height: 100vh;
}
